@page
@model CrudRazorApp.Pages.Reservas.CreateModel

@{
    ViewData["Title"] = "Crear Reserva";
}

<h1 class="page-title">Registrar una Reserva Nueva</h1>
<p class="page-subtitle">Rellena los siguientes campos para agendar una reserva.</p>

<div class="card" style="max-width: 800px;">
    <form method="post">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-layout">

            <div class="form-group">
                <label asp-for="Reserva.AutoId">Auto</label>
                <select asp-for="Reserva.AutoId" class="form-control" asp-items="Model.AutosList"></select>
                <span asp-validation-for="Reserva.AutoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reserva.ConductorId">Conductor</label>
                <select asp-for="Reserva.ConductorId" class="form-control" asp-items="Model.ConductoresList"></select>
                <span asp-validation-for="Reserva.ConductorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reserva.FechaInicio">Fecha de Inicio</label>
                <input asp-for="Reserva.FechaInicio" class="form-control" type="datetime-local" />
                <span asp-validation-for="Reserva.FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reserva.FechaFin">Fecha de Fin</label>
                <input asp-for="Reserva.FechaFin" class="form-control" type="datetime-local" />
                <span asp-validation-for="Reserva.FechaFin" class="text-danger"></span>
            </div>

        </div>

        <div class="actions" style="margin-top: 2rem;">
            <button type="submit" class="btn-primary">Reservar</button>
            <a class="btn-secondary" asp-page="./Index">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}